<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<h3>Simple index diff</h3>
<form id="compareForm" class="form-horizontal">
    <div class="form-group">
        <label for="leftServer" class="col-sm-1 control-label">Left server</label>

        <div class="col-sm-2">
            <input id="leftServer" class="form-control">
        </div>
        <label for="leftDatabase" class="col-sm-1 control-label">database</label>

        <div class="col-sm-2">
            <input id="leftDatabase" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="rightServer" class="col-sm-1 control-label">Right server</label>

        <div class="col-sm-2">
            <input id="rightServer" class="form-control">
        </div>
        <label for="rightDatabase" class="col-sm-1 control-label">database</label>

        <div class="col-sm-2">
            <input id="rightDatabase" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-2">
            <button type="submit" class="btn btn-default">Compare</button>
        </div>
    </div>
</form>
<div class="panel panel-default">
<div class="panel-body">
  <ul id="messages"></ul>
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(function(){
        var socket = null;
        var messages = $("#messages");
        var leftServer = $("#leftServer");
        var leftDatabase = $("#leftDatabase");
        var rightServer = $("#rightServer");
        var rightDatabase = $("#rightDatabase");

        $("#compareForm").submit(function(){
          if (!leftServer.val()) return false;
          if (!leftDatabase.val()) return false;
          if (!rightServer.val()) return false;
          if (!rightDatabase.val()) return false;

          if (!socket) {
            alert("Error: There is no socket connection.");
            return false;
          }

          message = {"LeftServer": leftServer.val(), "LeftDatabase": leftDatabase.val(), "RightServer": rightServer.val(), "RightDatabase": rightDatabase.val()}
          socket.send(JSON.stringify(message));
          return false;
        });

        if (!window["WebSocket"]) {
          alert("Error: Your browser does not support web sockets.")
        } else {
          socket = new WebSocket("ws://{{.Host}}/diff");
          socket.onclose = function() {
            //alert("Connection has been closed.");
          }
          socket.onmessage = function(e) {
            messages.empty()
            var msg = eval("("+e.data+")");

            for(var i in msg) {
                $("<li>" + msg[i] + "</li>").appendTo(messages);
            }
          }
        }

      });

    </script>
</body>
</html>